/* Add .dark-mode class to every element for dark mode, use !important */

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the dark mode toggle switch */
.dark-mode-switch {
  position: fixed;
  top: 20px;
  right: 20px;
}

.dark-mode-switch input[type="checkbox"] {
  display: none;
}

/* dark mode switch bg */
.dark-mode-switch label {
  display: block;
  width: 50px;
  height: 26px;
  background-color: #8d8d8d;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

/* Light circle switch */
.dark-mode-switch label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background-color: #f9f9f9;
  transition: 0.3s;
}

.dark-mode-switch input:checked + label {
  background-color: #393939;
}

/* Moves light circle switch */
.dark-mode-switch input:checked + label:before {
  transform: translateX(24px);
}

/* ------------------------------ */
/* -----------Icons-------------- */
/* ------------------------------ */

/* Styling & transition for moon and sun icons */
.dark-mode-switch .moon-icon,
.dark-mode-switch .sun-icon {
  position: absolute;
  top: 6px;
  width: 13px;
  height: 13px;
  background-size: cover;
  transition: 0.3s ease;
}

/* Show sun icon on slide in in light mode */
.dark-mode-switch .sun-icon {
  background-image: url("../images/sun.png");
  opacity: 1;
  left: 6.499px;
  transform: translateX(0);
}

/* Hide moon icon by default */
.dark-mode-switch .moon-icon {
  background-image: url("../images/moon.png");
  opacity: 0;
  left: 7px;
}

/* Hide sun icon when in dark mode */
.dark-mode-switch input:checked + label .sun-icon {
  opacity: 0;
  left: 27px;
}

/* Show moon icon on slide in in dark mode */
.dark-mode-switch input:checked + label .moon-icon {
  opacity: 1;
  left: 7px;
  transform: translateX(24px);
}
